<footer class="bg-white rounded shadow p-3 mb-4 mt-4">
    <div class="row mb-2 mt-2" style="width: 100%">
        <div class="col-12 text-center">
            <!-- List -->
            <ul class="list-inline">
                <li>
                    <a href="https://www.unil.ch/index.html" style="padding: 15px;"> <img src="{{ASSETS_ROOT}}/img/icons/UNIL.png" width="300px"> </a>
                    <a href="https://www.unil.ch/index.html" style="padding: 15px;"> <img src="" width="5%"> </a>
                    <a href="https://www.unil.ch/dbc/en/home.html" style="padding: 15px;"> <img src="{{ASSETS_ROOT}}/img/icons/DBC.png" width="400px"> </a>
                    <a href="https://www.unil.ch/index.html" style="padding: 15px;"> <img src="" width="5%"> </a>
                    <a href="https://www.unil.ch/dbc/en/home.html" style="padding: 15px;"> <img src="{{ASSETS_ROOT}}/img/icons/SIB_logo.jpg" width="150px"> </a>
                </li>
                <!-- <a> <img srx="Logo/blank.png" width="10%">  </a> -->
            </ul>
        </div>
    </div>
    <div class="row" style="width: 100%">
        <div class="col-12 text-center">
            <p class="text-center text-lg-start">
                <ul>
                    <li class="list-inline">
                        &copy; <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a>
                        - Coded by <a href="https://appseed.us" target="_blank">AppSeed</a>.
                        <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-volt">Django Volt Dashboard</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</footer>
