To search the database for e.g. "Species" select "Species in the first box and then choose the names of the species by clicking on them. You can search for moren than one name by pressing "Ctrl/Strg".
<br><br>
If a taxonomy rank is selected then at least one category of the taxonomy rank must be selected.
<br><br>
You can also choose multiple names in a row by holding "Shift".
<br><br>
To remove the mark of a species press "Ctrl/Strg" while clicking on the marked species.
<br><br>
To get the entries for all species, leave all search parameters for taxonomy empty.
