To search the database for "Domain groups" first select a group from the first box. Then, multiple subgroups can be selected from the second box by pressing "Ctrl/Strg".
<br><br>
If no "Domain group" is selected search will be done for all domain groups on the selected "Domain".<br>
If "Domain group" is selected but no subgroup is selected then search will be done for all subgroups on the selected "Domain Group".
<br><br>
You can also choose multiple subgroups in a row by holding "Shift".
<br><br>
To remove the mark of a subgroup press "Ctrl/Strg" while clicking on the marked subgroup.
