<table>
	<tbody><tr>
		<td>
		<!-- The shortnames of sequences in the database are composed of two parts. Both parts are separated by a underscore (_).<br>
		The first part represents the species and the genus.<br>
		For example:<br> -->
		Shortname represents species and genus.<br><br>For example:<br>
		<table>
		<tbody><tr><td width="10">HoSa</td><td width="10">:</td><td width="300">Homo sapiens</td></tr>
		<tr><td width="10">MuMu</td><td width="10">:</td><td width="300">Mus musculus</td></tr>
		<tr><td width="10">RaNo</td><td width="10">:</td><td width="300">Rattus norvegicus</td></tr>
		<tr><td width="10">DaRe</td><td width="10">:</td><td width="300">Danio rerio</td></tr>
		<tr><td width="10">DrMe</td><td width="10">:</td><td width="300">Drosophila melanogaster</td></tr>
		<tr><td width="10">CaEl</td><td width="10">:</td><td width="300">Caenorhabditis elegans</td></tr>
		<tr><td width="10">MoBr</td><td width="10">:</td><td width="300">Monosiga brevicollis</td></tr>
		<tr><td width="10">SaCe</td><td width="10">:</td><td width="300">Saccharomyces cerevisiae</td></tr>
		<!--<tr><td width="10">ScPo</td><td width="10">:</td><td width="300">Schizosaccharomyces pombe</td></tr>-->
		<!--<tr><td width="10">BaDe</td><td width="10">:</td><td width="300">Batrachochytrium dendrobatidis</td></tr>-->
		<tr><td width="10">ArTh</td><td width="10">:</td><td width="300">Arabidopsis thaliana</td></tr>
		<tr><td width="10">ChRe</td><td width="10">:</td><td width="300">Chlamydomonas reinhardtii</td></tr>
		</tbody>
		</table>
		<br>It can also contain information about the sequence type. This second part of the shortname is separated by underscore "_".<br>
		For example:<br>
		HoSa_Syx1<br>HoSa_Syx8<br>
		<!-- To search the database for shortnames, it is possible to type in complete shortnames or parts of them.
		A search can contain several entries speparated by a blank.<br>
		<h3>Example</h3>
		A search for Ykt62 in Arabidopsis thaliana and tomosyn in Homo sapiens would look like:<br>
		<input type="text" value="HoSa_tomo1 ArTh_Ykt62" size="60" readonly=""><br><br>
		A search for all Homo sapiens sequences can simply achived by:<br>
		<input type="text" value="HoSa" size="60" readonly=""><br><br>
		A search for all Syx5 sequences done by:<br>
		<input type="text" value="Syx5" size="60" readonly=""><br><br>
		An empty field for the shortname parameter leads to the display of all protein sequences. It will take an extended calculation time until the results are shown. -->
		</td>
	</tr></tbody>
</table>
