<div class='mb-2' style="margin-left: 5px; {% if error %}color: red;{% endif %}">
		{% if error %}
				{{error}}
		{% else %}
				<p style="margin-top: 5px; color: darkgreen; font-weight: 600;" >Number of sequences: {{ log }}</p>
		{% endif %}
</div>
{% csrf_token %}
<table class="hoverTable sortable scrolling" id="resultsTable"  style="height: 100%;" >
		{% for seq in sequences %}
		<tr class='clickable-row' data-href='/query-verify/{{ seq.sequence_id }}'>
				<td style="width: 9%;"><a style="color: blue" href="/query-verify/{{ seq.sequence_id }}">{{ seq.sequenceshortname }}</a></td>
				<td style="width: 9%;">{{ speciesname|get_item:seq.sequence_id }}</td>
				<td style="width: 9%;">{{ motifs|get_item:seq.sequence_id }}</td>
				<td style="width: 9%; height: 100%;">
						<div id="status_column" style="height: 100%;">
						<select style="width: 75%; margin-top: 1em;" name="status" id="{{seq.sequence_id}}" onChange="updateStatus(this)">
								{% for val in status_values %}
										<option value= "{{ val }}" {% if seq.sequencestatus == val %} selected {% endif %}> {{ val }} </option>
								{% endfor %}
						</select>
						</div>
				</td>
				<td style="width: 7%;">{{ seq.verifymotifs_set.count }}</td>
				<td style="width: 7%;">{{ seq.motifs_set.count }}</td>
				<td style="width: 5%;">{{ seq.private }}</td>
				<td style="width: 10%;">{{ seq.dbxref }}</td>
				<td style="width: 15%;">{{ seq.sourcedatabase }}</td>
				<td style="width: 20%;">
						<textarea style="resize: none; width:100%; vertical-align: middle;" readonly>{{ seq.foreignannotation }}</textarea>
				</td>
		</tr>
		{% endfor %}
</table>

<script src="{{ ASSETS_ROOT }}/js/jquery-4.0.0.min.js"></script>
<script>
        document.getElementById("loader").style.display = "none";
		//Find element status
		var status_column = document.getElementById("status_column");
    // Table rows clickable
    {#jQuery(document).ready(function($) {#}
	{#			document.getElementById("loader").style.display = "none";#}
    {#    $(".clickable-row").click(function(e) {#}
	{#				if (!status_column.contains(e.target)) {#}
	{#					window.location = $(this).data("href");#}
	{#				}#}
    {#    });#}
    {# });#}

		// Sort table
		function sortTable(coln) {
				var table, rows, switching, i, x, y, shouldSwitch;
				table = document.getElementById("resultsTable");
				switching = true;

				/*Make a loop that will continue until
				no switching has been done:*/
				while (switching) {
						//start by saying: no switching is done:
						switching = false;
						rows = $("#resultsTable tr");
						/*Loop through all table rows:*/
						for (i = 0; i < (rows.length - 1); i++) {
								//start by saying there should be no switching:
								shouldSwitch = false;
								/*Get the two elements you want to compare,
								one from current row and one from the next:*/
								if (coln == 3) {
									x = rows[i].getElementsByTagName("SELECT")[0];
									y = rows[i + 1].getElementsByTagName("SELECT")[0];
								} else {
									x = rows[i].getElementsByTagName("TD")[coln];
									y = rows[i + 1].getElementsByTagName("TD")[coln];
								}
								//check if the two rows should switch place:
								if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
										//if so, mark as a switch and break the loop:
										shouldSwitch = true;
										break;
								}
						}
						if (shouldSwitch) {
								/*If a switch has been marked, make the switch
								and mark that a switch has been done:*/
								rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
								switching = true;
						}
				}
		}
		function sortDown(coln) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("resultsTable");
            switching = true;

            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = $("#resultsTable tr");
                /*Loop through all table rows:*/
                for (i = 0; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    if (coln == 3) {
                        x = rows[i].getElementsByTagName("SELECT")[0];
                        y = rows[i + 1].getElementsByTagName("SELECT")[0];
                    } else {
                        x = rows[i].getElementsByTagName("TD")[coln];
                        y = rows[i + 1].getElementsByTagName("TD")[coln];
                    }
                    //check if the two rows should switch place:
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

		/*Update sequence status*/
		function updateStatus(object) {
			var status = object.value;
			var seqID = object.id;

			$.ajax({
                url: "{% url 'ajax_updateSequenceStatus' %}",
                data: {
                    status: status,
                    seqID: seqID,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                method: 'POST'
            });
        }

</script>
