{% extends "layouts/base.html" %}

{% block title %} Query verify meny {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
{% load template_filters %}

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='{{ ASSETS_ROOT }}/js/a076d05399.js' crossorigin='anonymous'></script>
    <style type="text/css">
        .scrollingTable {
            max-height: 55em;
            table-layout: fixed;
            width: 100%;
            overflow-y: auto;
            word-wrap: break-word;
            word-break: break-word;
        }
    	  .hoverTable {
            table-layout: fixed;
            width:100%;
            border-collapse:collapse;
            word-wrap: break-word;
            word-break: break-word;
    	  }
    	   /* Define the default color for all the table rows */
    	  .hoverTable tr {
            border-collapse: collapse;
            word-wrap: break-word;
            word-break: break-word;
        }
        .hoverTable td{
            border: 1px solid lightgrey;
            text-align: center;
            vertical-align: middle;
            word-wrap: break-word;
            word-break: break-word;
        }
    	  /* Define the hover highlight color for the table row */
        .hoverTable tr:hover td {
            {#cursor: pointer;#}
            table-layout: fixed;
            border: black solid 2px;
            background-color: lightgrey;
            word-wrap: break-word;
            word-break: break-word;
        }
        tableHeader {
            table-layout: fixed;
            width:100%;
            border-collapse:collapse;
            word-wrap: break-word;
            word-break: break-word;
        }
        .tdlabel {
          white-space: nowrap;
          text-alignt: left;
          vertical-align: middle;
          padding: 0.5em;
          border: red solid 1px;
        }
        .tdfield{
          white: 100%;
          text-align: center;
          text-alignt: left;
          padding: 0.5em;
          border: blue solid 1px;
        }
        .loader {
          border: 8px solid #f3f3f3;
          border-radius: 50%;
          border-top: 8px solid #3498db;
          width: 35px;
          height: 35px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }
		.formrow {
			display: table;
			width: 100%;
			margin-bottom: 5px;
		}
		.formrow select {
			width: 100%;
		}
		.formcell1 {
			display: table-cell;
			width: 30%;
			vertical-align: top;
			text-wrap: nowrap;
		}
		.formcell2 {
			display: table-cell;
			width: 70%;
			vertical-align: top;
			text-wrap: nowrap;
		}

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(720deg); }
        }
    </style>
    <script type="text/javascript">
        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;

            var table = document.getElementById('resultsTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>
</head>
<body onload="makeTableScroll();">


<div class="row mt-4">
    <div class="container">

        <!-- Card frame -->
        <div class="card border-0 shadow components-section">

            <!-- Card body -->
            <div class="col-12 mb-4">
                <div class="card-body">

                    <!-- Title -->
                    <div style="padding-bottom: 5px" >
                        <h1><strong> Verify Motifs </strong></h1>
                        <p><i>Verify and update sequences in Tracey.</i></p>
                        <p style="color: red"> {% if error %} {{ error }} {% endif %} </p>
                        <hr>
                    </div>

                    <!-- Form & Table with sequences -->
                    <div class="col-12">
                        <!-- Beggining of Form -->
                        <form method='post' action='#' name="MotifForm" id="MotifForm"
                              data-load-taxonomy-rank-url="{% url 'ajax_load_taxonomy_rank' %}"
                              data-load-species-url="{% url 'ajax_load_species' %}"
							  data-load-domains-url="{% url 'ajax_load_domains' %}"
                              data-load-sequenceshortnames-url="{% url 'ajax_load_sequenceshortnames' %}"
                              data-load-domaingroups-rank1-url="{% url 'ajax_load_domaingroups_rank1' %}"
                              data-load-domaingroups-rank2-url="{% url 'ajax_load_domaingroups_rank2' %}">
                            <!-- ajax_load_verifyTable1 -->
                            {% csrf_token %}
                            <div class="row mb-4">

								<!-- Layout/Domain/Domaingroups -->
                                <div class="col-4">

									<!-- Layout -->
									<div class="formrow">
										<div class="formcell1"><label>Protein Layout</label></div>
										<div class="formcell2"><select name="proteinlayout" id="proteinlayout">{% for val in MotifForm.proteinlayout %}{{ val }}{% endfor %}</select></div>
									</div>
									{% if MotifForm.domainname.errors %}<div class="formrow mb-4"><p style="color: red">{{ MotifForm.proteinlayout.errors.as_text }}</p></div>{% endif %}
									{% if error %}<div class="formrow mb-4"><p style="color: red">{{ error }}</p></div>{% endif %}

									<!-- Domain -->
									<div class="formrow">
										<div class="formcell1"><label for="{{ form.domainname.id_for_label }}">Domain name</label></div>
										<div class="formcell2"><select name="domainname" id="domainname" >{% for val in MotifForm.domainname %}{{ val }}{% endfor %}</select></div>
										{% if MotifForm.domainname.errors %}<p style="color: red">{{ MotifForm.domainname.errors.as_text }}</p>{% endif %}
										{% if error %}<p style="color: red">{{ error }}</p>{% endif %}
									</div>

									<!-- Domaingroup -->
									<div class="formrow">
										<div class="formcell1"><label for="{{ form.domaingroup_rank.id_for_label }}">Domain group</label></div>
										<div class="formcell2"><select name="domaingroup_rank" id="domaingroup_rank">{% for val in MotifForm.domaingroup_rank %}{{ val }}{% endfor %}</select></div>
									</div>

									<!-- Domaingroup subgroup -->
									<div class="formrow">
										<div class="formcell1"><label for="{{ form.domaingroup.id_for_label }}">Subgroup</label></div>
										<div class="formcell2"><select name="domaingroup" id="domaingroup">{% for val in MotifForm.domaingroup %}{{ val }}{% endfor %}</select></div>
									</div>

                                </div>

								<!-- Shortname/Taxonomy -->
                                <div class="col-4">

									<!-- Shortname -->
									<div class="formrow">
										<div class="formcell1"><label for="{{ form.shortname.id_for_label }}">Shortname</label></div>
										<div class="formcell2">
											<select name="shortname" id="shortname">
												<option value=""> </option>
												{% for val in shortnames %}
													<option value= "{{ val }}" style="{% if not '-' in val and not '+' in val %}font-weight: bold;{% endif %}"> {{ val }} </option>
												{% endfor %}
											</select>
										</div>
									</div>

									<!-- Taxonomy -->
									<div class="formrow">
										<div class="formcell1"><label for="{{ form.taxonomy_rank.id_for_label }}">Taxonomy</label></div>
										<div id="taxonomyDiv" id="taxonomyDiv" style="display: block; width: 100%; padding: 0">
											<select style="width: 100%" name="taxonomy" id="taxonomy_rank_0" onChange="taxonomyDiv(this)">
												<option value=""></option>
												{% for val in taxonomy_ranks %}
													<option value= "{{ val }}" style="{% if not '-' in val and not '+' in val %}font-weight: bold;{% endif %}"> {{ val.capitalize }} </option>
												{% endfor %}
											</select>
										</div>
										<p style="color: red">{% if error %}{% if 'At least one' in error %} {{ error }} {% endif %}{% endif %}</p>
									</div>

								</div>

								<!-- Sequencestatus/Species list-->
								<div class="col-4">

									<!-- Sequencestatus/Private -->
									<div class="formrow">

										<!-- Status -->
										<div style="display: table-cell; width: 20%; text-wrap: nowrap;"><label for="{{ form.status.id_for_label }}">Status</label></div>
										<div style="display: table-cell; width: 30%; text-wrap: nowrap; padding-right: 5px;"><select name="status" id="status">{% for val in MotifForm.status %}{{ val }}{% endfor %}</select></div>

										<!-- Private -->
										<div style="display: table-cell; width: 20%; text-wrap: nowrap; padding-left: 5px;"><label for="{{ form.private.id_for_label }}">Private</label></div>
										<div style="display: table-cell; width: 30%; text-wrap: nowrap;"><select name="private" id="private">{% for val in MotifForm.private %}{{ val }}{% endfor %}</select></div>

									</div>

									<!-- Species -->
									<div class="formrow">
										<div style="vertical-align: top; height: 100%; padding: 0">
											<select name="species_list" id="species_list" multiple style="width: 100%; height: 15em"></select>
										</div>
									</div>

								 </div>

							</div>
							<!-- End of Form -->
							<hr>


                            <!-- Table with filtered sequences -->
                            <div class="col-1 mb-4" style="width: 100%;">
                                <div class="row" style="height: 100%;">
                                    <div class="fieldWrapper col-lg-4 col-sm-4" style="display: flex;">
                                        <div style="margin-top: auto; margin-bottom: auto; height: 35px; display:flex; align-items: center;">
                                            <input type="submit" value="Update list">
                                        </div>
                                        <div id="loader" style="padding-left: 10px; margin-right: auto; display: none;">
                                            <div class="loader" ></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4" style="height: 100%;">
                                    <div class="col-6" style="margin-top: 5px;">
                                        <div class="fieldWrapper" style="margin-right: 30px; display: inline-block;">
                                            <input type="checkbox" id="unverified" name="unverified" value="1" checked>
                                            <label for="unverified"> Unverified sequences</label>
                                        </div>
                                        <div class="fieldWrapper" style="display: inline-block;">
                                            <input type="checkbox" id="verified" name="verified" value="1">
                                            <label for="verified"> Verified sequences</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- List of matching sequences | header -->
                        <div class="border-0" style="border-radius: 10px 10px 0px 0px;">
                            <table class="tableHeader border-0 table-flush" style="width:100%; height: 45px; border-radius: 10px 10px 0px 0px; background-color: #1F2937; color: white; table-layout: fixed; border-collapse: collapse; word-wrap: break-word; word-break: break-word;">
                                <thead class="thead-dark" style="width:100%">
                                <tr>
                                    <th class="border-bottom" scope="col" style="width: 9%; text-align: center;"> Short Name
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(0)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(0)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 9%; text-align: center;"> Species name
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(1)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(1)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 9%; text-align: center;"> Motifs
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(2)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(2)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 9%; text-align: center;"> Status
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(3)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(3)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 7%; text-align: center;"> #VerifyMotifs
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(4)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(4)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 7%; text-align: center;"> #Motifs
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(5)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(5)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 5%; text-align: center; white-space: nowrap;" id="2"> Private
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(6)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(6)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 10%; text-align: center;" id="3"> dbxRef
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(7)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(7)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 15%; text-align: center;" id="4"> Source database
                                        <div style="display: block">
                                        <button type="button" name="button" onclick="sortTable(8)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-up' style='font-size:10px; vertical-align: top;'></i> </button>
                                        <button type="button" name="button" onclick="sortDown(8)" style="height: 15px; vertical-align: middle;"> <i class='fas fa-angle-down' style='font-size:10px; vertical-align: top;'></i> </button>
                                        </div>
                                    </th>
                                    <th class="border-bottom" scope="col" style="width: 20%; text-align: center;" id="5"> Foreign Annotation</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- List of matching sequences | body -->
                        <div class="scrollingTable mb-3" style="border: 1px solid lightgrey;">
                            <table class="hoverTable sortable" id="resultsTable">
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Card body -->
        </div>
        <!-- Card frame -->
    </div>
</div>

<script src="{{ ASSETS_ROOT }}/js/jquery-4.0.0.min.js"></script>
<script>

    // Pues a verlas venir...
    $(document).ready(function() {
        $('.has-popover').popover({'trigger':'hover'});
    });

    // Load secuential taxonomy ranks
    function taxonomyDiv(object) {
        var url = $("#MotifForm").attr("data-load-taxonomy-rank-url");
        var url_species = $("#MotifForm").attr("data-load-species-url");
        var taxonomy_rank = object.value;
        var parent = object.parentElement;
        var rankNum = parseInt(object.id.split('taxonomy_rank_')[1])+1;

		var taxonomy_ranks = document.getElementsByName("taxonomy");
        var taxonomy_list = [];
        taxonomy_ranks.forEach((tax) => taxonomy_list.push(tax.value));

        // remove higher ranks
		var children = document.getElementById("taxonomyDiv").children;
        for (var i = children.length - 1; i >= 0; i--) {
            var child = children[i];
            var current_id = parseInt(child.id.split('taxonomy_rank_')[1]);
            if (parseInt(current_id) >= parseInt(rankNum)) {
                child.remove()
            }
        }

        // create new high rank
		var selectList = document.createElement("select");
        selectList.id = "taxonomy_rank_"+rankNum;
        selectList.name = "taxonomy";
        selectList.style = 'width: 100%; margin-top: 5px;';
        selectList.addEventListener(
            'change',
			(event) => {taxonomyDiv(selectList)}
		);
        parent.appendChild(selectList);

		var selectedList = $("#"+selectList.id)
		$.ajax({
			url: url,
			data: {
                'taxonomy_rank': taxonomy_rank,
				'reduced': 'true'
			},
			success: function (data) {
                selectedList.html(data);
                var x = selectedList[0]
				if (x.options.length == 1){
                    selectedList.hide();
                }
            }
        });

        $.ajax({
			url: url_species,
			data: {
                'taxonomy_rank': taxonomy_rank,
				'taxonomy_list': taxonomy_list,
				'verify': 'true',
			},
			success: function (data) {
                $("#species_list").html(data);
            }
        });
    }

    // Send form data for sequence search
    $(document).on('submit','#MotifForm',function(e){

        // Don't reload site on submit
        e.preventDefault();

        // Get variables
		var proteinlayout = $("#proteinlayout").val();
        var domainname = $("#domainname").val();
        var domaingroup_rank = $("#domaingroup_rank").val();
        var domaingroup = $("#domaingroup").val();
        var shortname = $("#shortname").val();
        var species_list = $("#species_list").val();
        var verified = document.getElementById("verified").checked;
        var unverified = document.getElementById("unverified").checked;

        // Loading animation
        document.getElementById("loader").style.display = "flex";

        var taxonomy = [];
        $("select[name='taxonomy']").each(function() {
          taxonomy.push($(this).val());
        });

		// Update sequences
		$.ajaxSetup({traditional: true});
		$.ajax({
			type:'POST',
			url: "{% url 'ajax_load_queryverifysequences' %}",
			data: {
				proteinlayout: proteinlayout,
				domainname: $("#domainname").val(),
				domaingroup_rank: $("#domaingroup_rank").val(),
				domaingroup: $("#domaingroup").val(),
				taxonomy: taxonomy,
				shortname: shortname,
				species_list: species_list,
				sequencestatus: $("#status").val(),
				verified: verified,
				unverified: unverified,
				private: $("#private").val(),
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				action: 'post'
			},
			success: function(data){
			  $("#resultsTable").html(data);
			}
		});

    });

    // formField.reload on formField.change (proteinlayout)
	$("#proteinlayout").change(function () {
    	var url = $("#MotifForm").attr("data-load-domains-url");
        var urlshortnames = $("#MotifForm").attr("data-load-sequenceshortnames-url");
        var proteinlayout = $(this).val();

        // Load shortnames
		$.ajax({
			url: urlshortnames,
			data: {
                'proteinlayout': proteinlayout,
				'verifymotifs': 'true'
			},
			success: function (data) {
                $("#shortname").html(data);
            }
        });

        // Load domain names
        $.ajax({
			url: url,
			data: {
				'proteinlayout': proteinlayout
			},
			success: function (data) {
				$("#domainname").html(data);
                $("#domaingroup_rank").html("");
                $("#domaingroup").html("");
			}
		});

    });

    // formField.reload on formField.change (domainname)
    $("#domainname").change(function () {
        var urlrank1 = $("#MotifForm").attr("data-load-domaingroups-rank1-url");
        var urlshortnames = $("#MotifForm").attr("data-load-sequenceshortnames-url");
        var proteinlayout = $("#proteinlayout").val();
        var domainname = $(this).val();

        $.ajax({
			url: urlshortnames,
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname,
				'verifymotifs': 'true'
			},
			success: function (data) {
                $("#shortname").html(data);
            }
        });

        $.ajax({
			url: urlrank1,
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname
			},
			success: function (data) {
                $("#domaingroup_rank").html(data);
                $("#id_domaingroup_rank").html("");
            }
        });

        $.ajax({
			url: "{% url 'ajax_load_domaingroups_rank2' %}",
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname,
				'domaingroup_rank': ''
			},
			success: function (data) {
                $("#domaingroup").html(data);
                $("#id_domaingroup").html("");
            }
        });

    });

    // formField.reload on formField.change (domaiungroup_rank)
    $("#domaingroup_rank").change(function () {
        var url = $("#MotifForm").attr("data-load-domaingroups-rank2-url");
        var domainname = $("#domainname").val();
        var domaingroup_rank = $(this).val();
        var urlshortnames = $("#MotifForm").attr("data-load-sequenceshortnames-url");
        var proteinlayout = $("#proteinlayout").val();

        // Load shortnames
		$.ajax({
			url: urlshortnames,
			data: {
                'proteinlayout': proteinlayout,
				'domaingroup_rank': domaingroup_rank,
				'domainname': domainname,
				'verifymotifs': 'true'
			},
			success: function (data) {
                $("#shortname").html(data);
            }
        });

		$.ajax({
			url: url,
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname,
				'domaingroup_rank': domaingroup_rank
			},
			success: function (data) {
                $("#domaingroup").html(data);
			}
		});
    });

	// formField.reload on formField.change (domaingroup)
	$("#domaingroup").change(function () {
        var urlshortnames = $("#MotifForm").attr("data-load-sequenceshortnames-url");
        var proteinlayout = $("#proteinlayout").val();
        var domainname = $("#domainname").val();
        var domaingroup_rank = $("#domaingroup_rank").val();
        var domaingroup = $(this).val();

        // Load shortnames
        $.ajax({
            url: urlshortnames,
            data: {
                'proteinlayout': proteinlayout,
                'domaingroup_rank': domaingroup_rank,
                'domainname': domainname,
				'domaingroup': domaingroup,
				'verifymotifs': 'true'
            },
            success: function (data) {
                $("#shortname").html(data);
            }
        });
    });


</script>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
