{% extends "layouts/base.html" %}

{% block title %} Query sequences {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .taxonomyDiv {
        width: 100%;
        display: block;
    }
	.formrow {
		display: table;
		width: 100%;
	}
	.formcell1 {
		display: table-cell;
		width: 25%;
		vertical-align: top;
		text-wrap: nowrap;
	}
	.formcell2 {
		display: table-cell;
		vertical-align: top;
		text-align: center;
		width: 5%;
		color: blue;
	}
	.formcell3 {
		display: table-cell;
		vertical-align: top;
		width: 70%;
	}
</style>
{% endblock stylesheets %}
{% block content %}

<div class="row mt-4">
	<div class="container">

        <!-- Tab panes -->
        <div class="card border-0 shadow components-section">

			<!-- Begining of protein family form -->
			<div class="col-12 mb-4">
				<div class="card-body">
					<div style="padding-bottom: 5px" >
						<h1><strong> Protein Sequences Query </strong></h1>
						<p><i> Search Tracey database for sequences fulfilling the selected parameters. </i></p>
						{% if error %}<p style="color: red"> {{ error }} </p>{% endif %}
						<hr>
					</div>

                    <!-- Beggining of Form -->
					<form method='get' action='query-sequences-results' name="FamilyForm" id="FamilyForm"
						  data-load-taxonomy-rank-url="{% url 'ajax_load_taxonomy_rank' %}"
						  data-load-species-url="{% url 'ajax_load_species' %}"
						  data-load-domains-url="{% url 'ajax_load_domains' %}"
						  data-load-sequenceshortnames-url="{% url 'ajax_load_sequenceshortnames' %}"
						  data-load-domaingroups-rank1-url="{% url 'ajax_load_domaingroups_rank1' %}"
						  data-load-domaingroups-rank2-url="{% url 'ajax_load_domaingroups_rank2' %}">
						<input type="text" name="motif" value="{{ family }}" hidden></input>
						<input type="text" name="private" value="1" hidden></input>
						{% csrf_token %}

                        <!-- Selection of layout/domain/domaingroup -->
						<div class="row mb-3">

							<!-- Column 1 -->
							<div class="col-lg-4 col-sm-4">

								<!-- ProteinLayout Name -->
								<div class="mb-3 formrow">
									<div class="formcell1"><label for="{{ form.proteinlayout.id_for_label }}"> Protein Layout </label></div>
									<div class="formcell2"></div>
									<div class="formcell3">
										<select style="width: 100%" name="proteinlayout" id="proteinlayout">
											{% for val in proteinLayoutsList %}
												<option value= "{{ val }}" "{% if 'SNARE' in val %} selected {% endif %}"> {{ val }} </option>
											{% endfor %}
										</select>
									</div>
								</div>

								<!-- Domain Name -->
								<div class="mb-3 formrow">
									<div class="formcell1"><label for="{{ form.domainname.id_for_label }}"> Domain Name </label></div>
									<div class="formcell2"></div>
									<div class="formcell3">
										<select style="width: 100%" name="domainname" id="domainname">
											<option value= ""> </option>
											{% for val in domainsList %}
												<option value= "{{ val }}"> {{ val }} </option>
											{% endfor %}
										</select>
									</div>
								</div>

								<!-- Domain Groups rank-->
								<div class="mb-3 formrow">
									<!-- domainGroup_rank -->
									<div class="formcell1"><label for="{{ form.domaingroup_rank.id_for_label }}">Domain group</label></div>
									<div class="formcell2"><a href="help_doc_domaingroup.html" onclick="window.open('help_doc_domaingroup.html', 'newwindow', 'width=700,height=250'); return false;" target="popup">
										<abbr data-toggle="tooltip" title='Click for full description' style='color: blue;'> ? </abbr>
									</a></div>
									<div class="formcell3">
										<select style="width: 100%" name="domaingroup_rank" id="domaingroup_rank">
											<option value= ""> </option>
											{% for val in domaingroup_rank %}
												<option value= "{{ val }}"> {{ val }} </option>
											{% endfor %}
										</select>
									</div>
								</div>

								<!-- domainGroups -->
								<div class="fieldWrapper" id="domaingroup" style="height: 14.5em; width: 100%; padding: 0" onclick="loadShortNames()">
									{{ form.domaingroup }}
								</div>

                            </div>

							<!-- Column 2 -->
							<div class="col-lg-4 col-sm-4">

								<!-- Shortname -->
								<div class="mb-3 formrow">
									<div class="formcell1"><label for="{{ form.shortname.id_for_label }}">Shortname</label></div>
									<div class="formcell2"><a href="help_doc_shortname.html" onclick="window.open('help_doc_shortname.html', 'newwindow', 'width=700,height=450'); return false;" target="popup"> ?</a></div>
									<div class="formcell3">
										<select style="width: 100%" name="shortname" id="shortname" >
											<option value=""> </option>
											{% for val in shortnames %}
												<option value= "{{ val }}"> {{ val }} </option>
											{% endfor %}
										</select>
									</div>
								</div>

								<!-- Taxonomy -->
								<div class="mb-3 formrow">
									<div class="formcell1"><label for="{{ form.taxonomy_rank.id_for_label }}">Taxonomy</label></div>
									<div class="formcell2"><a href="help_doc_taxonomy.html" onclick="window.open('help_doc_taxonomy.html', 'newwindow', 'width=700,height=250'); return false;" target="popup">
										<abbr data-toggle="tooltip" title='Click for full description'> ? </abbr>
									</a></div>
									<div class="taxonomyDiv" id="taxonomyDiv" style="display: block; width: 100%; padding: 0">
										<select style="width: 100%" name="taxonomy" id="taxonomy_rank_0" onChange="taxonomyDiv(this)">
											<option value=""></option>
											{% for val in taxonomy_ranks %}
												<option value= "{{ val }}" style="{% if not '-' in val and not '+' in val %}font-weight: bold;{% endif %}"> {{ val.capitalize }} </option>
											{% endfor %}
										</select>
									</div>
								</div>

							</div>

							<!-- Column 3 -->
							<div class="col-lg-4 col-sm-4">

								<div class="row mb-0">

									<!-- Aliases -->
									<div class="col-lg-6 col-sm-6">

										<div class="mb-3 formrow">
											<div class="formcell1"><label for="{{ form.aliases.id_for_label }}">Aliases</label></div>
											<div class="formcell2"></div>
											<div class="formcell3 fieldWrapper">
												{{ form.aliases }}
											</div>
										</div>

									</div>

									<!-- Foreign annotation -->
									<div class="col-lg-6 col-sm-6">

										<div class="mb-3 formrow">
											<div class="formcell1"><label for="{{ form.foreignannotation.id_for_label }}">Foreign annotation</label></div>
											<div class="formcell2"><a><abbr data-toggle="tooltip" title='NCBI annotation' style='color: blue; width: 5%'> ? </abbr></a></div>
											<div class="formcell3 fieldWrapper">
												{{ form.foreignannotation }}
											</div>
											{% if error %}<p style="color: red; width: 100%">{% if 'Foreign' in error %} {{ error }} {% endif %}</p>{% endif %}
										</div>

									</div>

								</div>

								<!-- Species List -->
								<div class="mb-3 formrow">
									<div class="fieldWrapper" style="height: 17.8em; width: 100%; padding: 0">
										<select name="species_list" id="species_list" multiple style="width: 100%; height: 17.8em"></select>
									</div>
									<p style="color: red; width: 100%">{% if error %}{% if 'At least one' in error %} {{ error }} {% endif %}{% endif %}</p>
								</div>

							</div>

						</div>

						<!-- Sequence Status -->
						<div class="mb-3" style="display: table;">
							<div style="display: table-cell"><label style="padding: 0px 15px 0px 0px;" for="sequencestatus"> Only active sequences</label></div>
							<div style="display: table-cell"><input type="checkbox" id="sequencestatus" name="sequencestatus" value="1" checked></div>
						</div>

                        <hr>

					<input type="submit" value="Submit">
					</form>

				</div>
			</div>
			<!-- End of Form -->

		</div>

	</div>
</div>

<script src="{{ ASSETS_ROOT }}/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('.has-popover').popover({'trigger':'hover'});
    });

    // Load secuential taxonomy ranks
    function taxonomyDiv(object) {
        var url = $("#FamilyForm").attr("data-load-taxonomy-rank-url");
        var url_species = $("#FamilyForm").attr("data-load-species-url");
        var taxonomy_rank = object.value;
        var parent = object.parentElement;
        var rankNum = parseInt(object.id.split('taxonomy_rank_')[1])+1;

        // remove children ranks
		var children = document.getElementById("taxonomyDiv").children;
        for (var i = children.length - 1; i >= 0; i--) {
            var child = children[i];
            var current_id = parseInt(child.id.split('taxonomy_rank_')[1]);
            if (parseInt(current_id) >= parseInt(rankNum)) {
                child.remove()
            }
        }

        // create new child rank
		var selectList = document.createElement("select");
        selectList.id = "taxonomy_rank_"+rankNum;
        selectList.name = "taxonomy";
        selectList.style = 'width: 100%; margin-top: 5px;';
        selectList.addEventListener(
            'change',
			(event) => {taxonomyDiv(selectList)}
		);
        parent.appendChild(selectList);
        // var selectedList = document.getElementById(selectList.id);
		var selectedList = $("#"+selectList.id)

		$.ajax({
			url: url,
			data: {
                'taxonomy_rank': taxonomy_rank,
				'reduced': 'true'
			},
			success: function (data) {
                selectedList.html(data);
                var x = selectedList[0]
				if (x.options.length == 1){
                    selectedList.hide();
                };
            }
        });

        var taxonomy_list = [];
        var taxonomy_ranks = document.getElementsByName("taxonomy");
        taxonomy_ranks.forEach((tax) => taxonomy_list.push(tax.value));

        var domainname = document.getElementById("domainname").value;
        $.ajax({
			url: url_species,
			data: {
                'taxonomy_rank': taxonomy_rank,
				'taxonomy_list': taxonomy_list,
				'domainname': domainname,
			},
			success: function (data) {
                $("#species_list").html(data);
            }
        });
    }

	// Change in Protein Layout
	$("#proteinlayout").change(function () {
        var urldomains = $("#FamilyForm").attr("data-load-domains-url");
		//var urldomaingroupsrank1 = $("#FamilyForm").attr("data-load-domaingroups-rank1-url");
        var urlshortnames = $("#FamilyForm").attr("data-load-sequenceshortnames-url");
        var proteinlayout = $(this).val();

        // Load domain names
        $.ajax({
			url: urldomains,
			data: {
				'proteinlayout': proteinlayout
			},
			success: function (data) {
				$("#domainname").html(data);
                $("#domaingroup_rank").html("");	 // Update rank1
				$("#id_domaingroup").html("");		 // Clear rank2
			}
		});

        // Load Domain Group rank1
        //$.ajax({
		//	url: urldomaingroupsrank1,
		//	data: {
		//		'proteinlayout': proteinlayout
		//	},
		//	success: function (data) {
		//		 $("#domaingroup_rank").html(data);	 // Update rank1
		//		 $("#id_domaingroup").html("");		 // Clear rank2
		//	}
		//});

        // Load shortnames
        $.ajax({
			url: urlshortnames,
			data: {
				'proteinlayout': proteinlayout
			},
			success: function (data) {
				$("#shortname").html(data);
			}
		});
    })

    // Change in Domain Name
    $("#domainname").change(function () {
		var urldomaingroupsrank1 = $("#FamilyForm").attr("data-load-domaingroups-rank1-url");
        var urlshortnames = $("#FamilyForm").attr("data-load-sequenceshortnames-url");
        var proteinlayout = $("#proteinlayout").val();
		var domainname = $(this).val();

        // Load Domain Group rank1
        $.ajax({
			url: urldomaingroupsrank1,
			data: {
                'proteinlayout': proteinlayout,
				'domainname': domainname
			},
			success: function (data) {
				 $("#domaingroup_rank").html(data);	 // Update rank1
                 $("#id_domaingroup").html("");		 // Clear rank2
			}
		});

		// Load shortnames
		$.ajax({
			url: urlshortnames,
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname
			},
			success: function (data) {
                $("#shortname").html(data);
            }
        });
    });

    // Change in domain group rank
    $("#domaingroup_rank").change(function () {
        var url = $("#FamilyForm").attr("data-load-domaingroups-rank2-url");
        var urlshortnames = $("#FamilyForm").attr("data-load-sequenceshortnames-url");
		var proteinlayout = $("#proteinlayout").val();
		var domainname = $("#domainname").val();
        var domaingroup_rank = $(this).val();

        $.ajax({
			url: url,
			data: {
                'proteinlayout': proteinlayout,
				'domaingroup_rank': domaingroup_rank,
				'domainname': domainname
			},
			success: function (data) {
                $("#id_domaingroup").html(data);
            }
        });

        // Load shortnames
		$.ajax({
			url: urlshortnames,
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname,
				'domaingroup_rank': domaingroup_rank
			},
			success: function (data) {
                $("#shortname").html(data);
            }
        });
    });

    // Click on domaingroups
    //$("#id_domaingroup").onchange(function () {
	function loadShortNames() {
        var urlshortnames = $("#FamilyForm").attr("data-load-sequenceshortnames-url");
		var proteinlayout = $("#proteinlayout").val();
		var domainname = $("#domainname").val();
        var domaingroup_rank = $("#domaingroup_rank").val();
        var domaingroup = document.getElementById("id_domaingroup");

		var result = [];
        var options = domaingroup.options;
        var opt;
        for (var i=0, iLen=options.length; i<iLen; i++) {
            opt = options[i];
            if (opt.selected) {
                result.push(opt.value || opt.text);
            }
        }
        // Load shortnames
		$.ajax({
			url: urlshortnames,
			data: {
                'proteinlayout': proteinlayout,
                'domainname': domainname,
				'domaingroup_rank': domaingroup_rank,
				'domaingroup': result
			},
			success: function (data) {
                $("#shortname").html(data);
            }
        });
    }

</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
