{% extends "layouts/base.html" %}

{% block title %} Query motifs {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="row mt-4">
    <div class="container">

        <!-- Card frame -->
        <div class="card border-0 shadow components-section">

            <!-- Card body -->
            <div class="col-12 mb-4">
                <div class="card-body">

                    <div class="mb-5">
                        <h1><strong> Motifs Query </strong></h1>
                        <p><i>Scan protein sequence for motifs.</i></p>
                        <hr>
                    </div>

                    <form method='post' action='' name="motifForm" id="motifForm">
                    {% csrf_token %}

                    <div class="row mb-4">
                            <div class="col-lg-3 col-sm-3 mb-4">
                                <label style="vertical-align: top;" for="{{ form.shortname.id_for_label }}"> Motifs to scan: </label>
                                <select style="width: 100%" name="motifname" id="motifname">
                                    <option value= "all" selected>All</option>
                                    {% for val in motifs %}
                                        <option value= "{{ val }}"> {{ val }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        <div class="col-sm-12">
                            <label style="vertical-align: top;"> Protein sequence (max length: 2000 aa): </label>
                            <textarea class="mb-3" type="text" id="protseq" name="protseq" style="width: 100%; height:100px; vertical-align: top; resize: none;"></textarea>
                            {% if error %}<p style="color: red">{{error}}</p>{% endif %}
                            <input type="submit" value="Scan">
                        </div>
                    </div>

                    </form>

                </div>
            </div>
            <!-- End Card body -->
        </div>
        <!-- Card frame -->
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
