{% extends "layouts/base.html" %}

{% block title %} Query sequences {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="row mt-4">
    <div class="container">

        <!-- Nav tabs -->
        <!-- <ul class="nav nav-tabs">
            {% for t in tabs %}
                <li class="nav-item">
                    <a class="nav-link {% if t in segment %} active {% endif %}" data-toggle="tab" href="query-sequences-{{ t }}">
                        <span style='font-size: 12px' class="sidebar-text">{{ t }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul> -->

        <!-- Tab panes -->
        <div class="card border-0 shadow components-section">

                <!-- Begining of protein family form -->
                <div class="col-12 mb-4">
                    <div class="card-body">
                        <div style="padding-bottom: 5px" >
                            <h1><strong> Protein Sequences Query </strong></h1>
                            <p><i> Search Tracey database for sequences fullfilling the selected parameters. </i></p>
                            <p style="color: red"> {% if error %}{% if '0 sequences' in error %} {{ error }} {% endif %}{% endif %} </p>
                            <hr>
                        </div>

                        <!-- Beggining of Form -->
                        <form method='get' action='query-sequences-results' name="FamilyForm" id="FamilyForm"
                            data-load-taxonomy-rank-url="{% url 'ajax_load_taxonomy_rank' %}"
                            data-load-sequenceshortnames-url="{% url 'ajax_load_sequenceshortnames' %}"
                            data-load-domaingroups-rank1-url="{% url 'ajax_load_domaingroups_rank1' %}"
                            data-load-domaingroups-rank2-url="{% url 'ajax_load_domaingroups_rank2' %}">
                        <input type="text" name="motif" value="{{ family }}" hidden></input>
                        {% csrf_token %}

                        <!-- Selection of domain -->
                        <div class="row mb-5">
                            <div class="col-lg-6 col-sm-6">
                                <label style="vertical-align: top;" for="{{ form.shortname.id_for_label }}"> Domain Name </label>
                                <select style="width: 100%" name="domainname" id="domainname">
                                    <option value= ""> </option>
                                    {% for val in domainsList %}
                                        <option value= "{{ val }}" "{% if 'SNARE' in val %} selected {% endif %}"> {{ val }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr>

                        <!-- Full frame -->
                        <div class="row mb-4">
                        <div class="col-sm-12">
                            <!-- Row 1 -->
                            <div class="row">
                                <!-- Shortname -->
                                <div class="col-lg-6 col-sm-6">
                                    <label style="vertical-align: top;" for="{{ form.shortname.id_for_label }}">Shortname</label>
                                    <select style="width: 100%" name="shortname" id="shortname" >
                                            <option value=""> </option>
                                        {% for val in shortnames %}
                                            <option value= "{{ val }}"> {{ val }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- End Shortname -->
                                <!-- Foreign annotation -->
                                <div class="col-lg-6 col-sm-6">
                                    <label style="vertical-align: top;" for="{{ form.foreignannotation.id_for_label }}">Foreign annotation
                                        <abbr data-toggle="tooltip" title='NCBI annotation' style='color: blue;'> ? </abbr>
                                    </label>
                                      {{ form.foreignannotation }}
                                      <p style="color: red">{% if error %}{% if 'Foreign' in error %} {{ error }} {% endif %}{% endif %}</p>
                                </div>
                                <!-- End Foreign annotation -->
                            </div>
                            <!-- End Row 1 -->
                            <!-- Row 2 -->
                            <div class="row">
                                <!-- Taxonoy -->
                                <div class="fieldWrapper col-lg-6 col-sm-6">
                                    <!-- taxonomy_rank -->
                                    <label style="vertical-align: top;" for="{{ form.taxonomy_rank.id_for_label }}"">Taxonomy</label>
                                    <select style="width: 100%" name="taxonomy_rank" id="taxonomy_rank">
                                            <option value= ""> </option>
                                        {% for val in taxonomy_ranks %}
                                            <option value= "{{ val }}"> {{ val.capitalize }} </option>
                                        {% endfor %}
                                    </select>
                                    <!-- taxa -->
                                    <div class="fieldWrapper">
                                        {{ form.taxonomy }}
                                    </div>
                                    <p style="color: red">{% if error %}{% if 'At least one' in error %} {{ error }} {% endif %}{% endif %}</p>
                                </div>
                                <!-- End Taxonomy -->
                                <!-- Domain Groups -->
                                <div class="fieldWrapper col-lg-6 col-sm-6">
                                    <!-- domainGroup_rank -->
                                    <label style="vertical-align: top;" for="{{ form.domaingroup_rank.id_for_label }}"">Domain group</label>
                                    <select style="width: 100%" name="domaingroup_rank" id="domaingroup_rank">
                                        <option value= ""> </option>
                                        {% for val in domaingroup_rank %}
                                            <option value= "{{ val }}"> {{ val }} </option>
                                        {% endfor %}
                                    </select>
                                    <!-- domainGroups -->
                                    <div class="fieldWrapper">
                                        {{ form.domaingroup }}
                                    </div>
                                </div>
                                <!-- End Domain Groups -->
                            </div>
                            <!-- End Row 2 -->
                        </div>
                        </div>
                        <!-- End Full frame -->
                        <hr>
                        <input type="submit" value="Submit">
                    </div>
                    <!-- End of Form -->
                </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('.has-popover').popover({'trigger':'hover'});
    });

    // Load taxonomy rank
    $("#taxonomy_rank").change(function () {
      var url = $("#FamilyForm").attr("data-load-taxonomy-rank-url");  // get the url of the `load_cities` view
      var taxonomy_rank = $(this).val();                               // get the selected country ID from the HTML input

      $.ajax({                                 // initialize an AJAX request
        url: url,                              // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'taxonomy_rank': taxonomy_rank       // add the country id to the GET parameters
        },
        success: function (data) {             // `data` is the return of the `load_cities` view function
          $("#id_taxonomy").html(data);        // replace the contents of the city input with the data that came from the server
        }
      });
    });

    // Load Domain Group rank1
    $("#domainname").change(function () {
      var url = $("#FamilyForm").attr("data-load-sequenceshortnames-url");  // get the url of the `load_cities` view
      var domainname = $(this).val();                                 // get the selected country ID from the HTML input

      $.ajax({                                        // initialize an AJAX request
        url: url,                                     // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'domainname': domainname        // add the country id to the GET parameters
        },

        success: function (data) {                    // `data` is the return of the `load_cities` view function
          $("#shortname").html(data);     // replace the contents of the city input with the data that came from the server
        }
      });
    });

    $("#domainname").change(function () {
      var url = $("#FamilyForm").attr("data-load-domaingroups-rank1-url");  // get the url of the `load_cities` view
      var domainname = $(this).val();                                 // get the selected country ID from the HTML input

      $.ajax({                                        // initialize an AJAX request
        url: url,                                     // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'domainname': domainname        // add the country id to the GET parameters
        },

        success: function (data) {                    // `data` is the return of the `load_cities` view function
          $("#domaingroup_rank").html(data);     // replace the contents of the city input with the data that came from the server
          $("#id_domaingroup").html("");
          $('#domaingroup_rank')[0].selectize.clear();
        }
      });
    });

    // Load Domain Group rank2
    $("#domaingroup_rank").change(function () {
      var url = $("#FamilyForm").attr("data-load-domaingroups-rank2-url");  // get the url of the `load_cities` view
      var domaingroup_rank = $(this).val();                                 // get the selected country ID from the HTML input

      $.ajax({                                        // initialize an AJAX request
        url: url,                                     // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'domaingroup_rank': domaingroup_rank        // add the country id to the GET parameters
        },
        success: function (data) {                    // `data` is the return of the `load_cities` view function
          $("#id_domaingroup").html(data);     // replace the contents of the city input with the data that came from the server
        }
      });
    });

</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
